@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primary";
  src: url("../public/assets/candide-extralight.otf");
}

@layer base{
  @font-face{
    font-family: 'primary';
    font-style: normal;
    font-weight: 400;
  }
}

.btn{
  @apply py-3 rounded-full text-black bg-primary text-center text-white w-full hover:transition-all ease-in-out duration-300
}

.btn:hover{
  @apply text-black bg-white outline outline-primary
}

.headerLink{
  @apply hover:text-primary hover:text-lg transition-all hover:ease-in-out duration-300
}

.custom_menu {
  @apply absolute flex mt-0 right-12 overflow-hidden;
}

.s-1, .s-2, .s-3 {
  @apply bg-primary w-14 h-0.5 block m-2 transition-all duration-300;
}

.custom-menu-button {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
}

.custom-menu-button .bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #AD9551;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.custom-menu-button .bar:nth-child(1) {
  top: 0;
}

.custom-menu-button .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.custom-menu-button .bar:nth-child(3) {
  bottom: 0;
}

.custom-menu-button.open .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.custom-menu-button.open .bar:nth-child(2) {
  opacity: 0;
}

.custom-menu-button.open .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}


.custom_menu button span {
  @apply absolute left-0 transition-all duration-300;
}

.custom_menu button .s-1 {
  @apply top-2;
}

.custom_menu button .s-2 {
  @apply top-6;
}

.custom_menu button .s-3 {
  @apply top-10;
}

.overlay-content{
  @apply w-full text-left font-primary bg-white pl-2;
}

.menu_style button .s-1 {
  @apply w-16;
  transform: rotate(45deg) translateY(10px);
}

.menu_style button .s-2 {
  @apply opacity-0;
}

.menu_style button .s-3 {
  @apply w-16;
  transform: rotate(-45deg) translateY(-10px);
}

.overlay {
  @apply fixed right-0 w-1/3 bg-white shadow-lg transition-transform duration-300 ease-in-out overflow-y-auto;
  transform: translateX(100%);
  z-index: 30;
}

.overlay.active {
  transform: translateX(0);
}

.overlay-content {
  @apply p-5;
}


.overlay-content ul {
  @apply list-none;
}

.overlay-content a {
  @apply text-black hover:text-primary transition-colors duration-200;
}

.overlay-content .text-3xl {
  @apply font-bold mb-2 text-2xl;
}

.overlay-content {
  @apply font-semibold mb-1 text-xl; 
}

.overlay-content ul ul {
  @apply ml-4;
}

.overlay-content ul li {
  @apply mb-2; 
}

.overlay-content ul ul li {
  @apply mb-1; 
}

.link {
  @apply text-gray-600 hover:underline text-sm; 
}


.menu_style button .s-1 {
  transform: rotate(50deg) translateY(25px);
  width: 70%;
}

.menu_style button .s-2 {
  transform: translateX(200px);
}

.menu_style button .s-3 {
  transform: rotate(-50deg) translateY(-25px);
  width: 70%
}

.menu_width{;
  @apply w-1/4 text-black flex duration-500 h-full z-50
}

.shaded{
  @apply bg-slate-900 z-0
}


.card-container {
  width: 33%;
  @apply bg-white font-primary rounded-none;
}

.card-title {
  @apply text-primary text-4xl mb-5 text-center;
}

.card-content {
  @apply text-gray-600 text-lg text-center py-6;
}

.home-container {
  @apply flex items-center inset-0 bg-cover bg-center overflow-hidden z-0;
}
