@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primary";
  src: url("../public/assets/candide-extralight.otf");
}

@layer base {
  @font-face {
    font-family: "primary";
    font-style: normal;
    font-weight: 400;
  }
}

.btn {
  @apply py-3 rounded-full bg-primary text-white hover:bg-white hover:text-black transition duration-300;
}

.headerLink {
  @apply text-gray-700 hover:text-primary transition duration-300;
}

.custom_menu {
  @apply flex flex-col space-y-1 focus:outline-none;
}

.s-1, .s-2, .s-3 {
  @apply bg-primary h-1 w-6 transition duration-300;
}

.overlay {
  @apply fixed inset-0 bg-white bg-opacity-90 z-20 flex flex-col justify-center items-center space-y-6 text-xl;
}

.overlay-content a {
  @apply text-gray-800 hover:text-primary;
}

.menu_style .s-1 {
  transform: rotate(45deg) translateY(7px);
}

.menu_style .s-2 {
  opacity: 0;
}

.menu_style .s-3 {
  transform: rotate(-45deg) translateY(-7px);
}

.menu_width {
  transform: translateX(0);
  @apply w-full flex-col items-center space-y-6 px-8;
}

.card-container {
  @apply max-w-md mx-auto p-8 bg-white shadow-lg rounded-lg;
}

.card-title {
  @apply text-primary text-2xl mb-4 text-center font-primary;
}

.card-content {
  @apply text-gray-600 text-lg text-center;
}

.home-container {
  @apply fixed inset-0 bg-cover bg-center overflow-hidden z-0;
}

.inner-container {
  @apply flex justify-center items-center h-screen;
}
